#main {
	font: .8333333em Arial, Helvetica, sans-serif;
	padding: 0 .264583333cm;
	overflow-wrap: break-word;
}
@media print {
	#main {
		margin: 0;
		padding: 0;
	}
	#website {
		flex-grow: 1;
	}
	#header, footer, div.controls {
		display: none;
	}
	@page {
		margin: 1.27cm /*2.54*/2.245cm;
	}
}
main {
	margin: 0 auto;
	display: block;
	max-width: 16.51cm;
}
span, div, h3, a {
	max-width: 100%;
}

.controls {
	margin: 1.8em 0 3.15em 0;
	text-align: center;
}
.controls a {
	font-weight: bold;
}
.controls .fontWeightNormal {
	font-weight: normal;
}

.flexContainer, .flexContainerSpaceBetween {
	display: flex;
	flex-wrap: wrap;
}
.flexContainer {
	align-items: center;
}
.flexContainer, .flexContainerSpaceBetween {
	justify-content: space-between;
}
.flexCenter {
	flex-grow: 1;
	text-align: center;
}
header, p, .item {
	margin: 0 0 1em 0;
}
h1, h3 {
	margin: 0;
}
h1, h3 span {
	font-weight: normal;
}
#website {
	padding: 0 0 0 2em;
	flex-grow: 1;
	box-sizing: border-box;
}
#website a, .controls a {
	color: #1640de;
}

svg {
	max-width: 100%;
	height: auto !important;
}
.icons a {
	display: inline-block;
	padding: 4px 12.5px;
}
.icons a.last {
	margin-right: -12.5px;
}
.icons svg {
	width: 18px;
	height: 18px !important;
	max-height: 18px;
}

.flexGrow {
	flex-grow: 1;
}
a {
	color: #0f2c99;
	text-decoration: none;
	font-weight: normal;
}
h2, h3 {
	font-size: 1em;
}
h2 {
	margin: 0 0 .3em 0;
	text-align: center;
	color: #0070c0;
    letter-spacing: .075em;
	padding: .125em 0;
	border-top: solid 1px #a0d2e0;
	border-bottom: solid 1px #a0d2e0;
}
.date {
	float: right;
	align-self: flex-start;
	margin: 0 0 0 auto;
	color: #404040;
}
.summary, ul {
	margin: .3em 0 0 0;
}
.color666 {
	color: #666;
}

section:last-of-type .item:last-of-type {
	margin: 0;
}